.About {
  min-height: 100vh;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  &__content {
    margin-left: 2rem;
    &-title {
      h1 {
        font-weight: 600;
        color: $white;
        font-size: 25px !important;
      }
    }
    &-info {
      h2 {
        line-height: 25px;
        color: $white;
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}

@media (min-width: 768px) {
  .About {
    &__content {
      &-info {
        width: 70%;
      }
    }
  }
}
